# do not track the python environment directory
.venv

# ignore the tensorboard directory
runs

*/__pycache__/*
*.pyc

# ignore saved models from being tracked
models/*
!models/.gitkeep
!models/README.md
